body {
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
background-color: #f4f4f4;
margin: 0;
font-family:Arial, Helvetica, sans-serif;
}

.kalkulator {
background-color: #333;
padding: 20px;
border-radius: 10px;
box-shadow: 0px 10px 20px rgba(0,0,0,0.3);
}

#display {
width: 100%;
padding: 10px;
font-size: 24px;
text-align: right;
margin-bottom: 10px;
border: none;
border-radius: 5px;
}

.button {
display: grid;
grid-template-columns: repeat(4, 1fr);
gap: 10px;
}

.btn {
padding: 20px;
font-size: 18px;
border: none;
border-radius: 5px;
cursor: pointer;
background-color: #555;
color: white;
}

.btn:hover {
background-color: #777;
}

.operator {
background-color: #ff9500;
}

.operator:active {
    background-color:rgb(183, 43, 226);
}

.clear{
    grid-column: span 4;
    background-color:rgb(223, 43, 226);
    color:aliceblue;
    width: 100%;
}

.clear:active{
background-color:rgb(211, 43, 226);
}